.z1{
    color: chocolate;
    text-align: center;
    font-size: 100px;
}
.z2{
    text-align: center;
    font-size: 60px;
    
}

.img1{
    width: 100%;
}

button{
    width: 50%;
    height: 47px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: rgba(75, 75, 77, 0.611);
    color: white;
}